* {
    padding: 0;
    margin: 0;
  }
  /* body {
    background:linear-gradient(rgba(255, 243, 114, 0.531),rgba(248, 228, 10, 0.531)); */
    /* overflow: hidden;
  } */
  #navbar{
      position: sticky;
      top: 0;
      background-color: rgb(254, 195, 77);
  
  }
  .navbot {
    gap: 3vh;
    display: flex;
    padding: 0.5vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.428);
  }
  .navbot a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
  }
  .navbot a:hover {
    color: rgb(13, 0, 255);
  }
  .navtop {
    font-size: 2.9rem;
    font-weight: 600;
    padding: 2vh;
    text-align: center;
  }
  
  
  
  
  
  
  
  
  /* live red */
  #live {
    display: flex;
    gap: 6px;
    align-items: center;
  }
  .red {
    width: 1vh;
    height: 1vh;
    background-color: black;
    border-radius: 360px;
    animation: live 1s alternate-reverse infinite;
  }
  @keyframes live {
    to {
      background-color: red;
    }
  }





  #news-container{
    background-color: bisque;
  }


   #news{
    margin: 4px 6px;
    padding: 2vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.591);
    /* border: 1px solid rgba(0, 0, 0, 0.248); */
    justify-content: center;
  }
  
  .data-container{
    width: 140vh;
    background-color: rgb(125, 135, 135);
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 1.5vh;
  }
  #headline{
    font-size: 1.5rem;
  }
  #source{
    font-size: 1.1rem;
    margin-top: -1.5vh;
    background-color: rgba(250, 235, 215, 0.484);
  }
  #description{
    font-size: 1rem;
  }
  #url{
    font-size: 1rem;
    padding: 2px 8px;
    border-radius: 16px;
    outline: none;
    border: 1px solid black;
    background-color: rgb(251, 255, 18);
  }
  #newsimg{
    width: 40vh;
  }
  .img-container{
    width: 40vh;
    display: flex;
    object-fit: contain;
  }